
body {
    background-color: #121214;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

header {
    width: 100%;
    background-color: #202024;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.container.desktop {
    width: 935px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.mobile {
    display: none;
}

.container img {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container img:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  

.container h1 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.container h1:hover {
    opacity: 0.8;
}

header button{
  z-index: 4;
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 30px;
  border: none;
  left: 20px;
}

header button ion-icon{
  color: #fff;
  font-size: 30px;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 935px;
    margin: 0 auto;
    margin-top: 150px;
    gap: 50px;
    /* Adiciona espaçamento entre os containers */
}

.container-resume {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #202024;
    width: 300px;
    min-height: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.container-resume:hover {
    transform: scale(1.1);
    /* Aumenta o tamanho em 10% */
}

.container-resume > img {
    width: 100%;
    height: 80px;
    border-radius: 8px 8px 0 0;
}

.perfil img {
    width: 46px;
    height: 46px;
}

.perfil {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.perfil img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.perfil-borda {
    width: 66px;
    height: 66px;
    background-image: url(../images/Profile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-resume h2 {
    text-align: center;
    margin-top: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.container-resume .linha {
    width: 100%;
    height: 1px;
    background-color: #808080;
    margin-top: 5px;
}

.container-resume h3 {
    text-align: center;
    color: #808080;
    margin-top: 5px;
    font-size: 14px;
}

.description {
    padding: 12px;
    color: #c5c1c1;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.icons ion-icon {
    font-size: 24px;
    margin-right: 15px;
    color: #808080;
}



.container-cv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 935px;
    margin: 0 auto;
    margin-top: 150px; 
}


.container-resume.curriculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-resume.curriculo:hover {
    transform: none;
    /* Aumenta o tamanho em 10% */
}



.container-resume.curriculo .perfil {
    height: 25%;

}

.container-resume.curriculo .capa-perfil img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.container-resume.curriculo .perfil-borda {
    width: 66px;
    height: 66px;
    background-image: url(../images/Profile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-resume.curriculo > h2,
.container-resume.curriculo > h3 {
    text-align: center;
    color: #fff;
}

.container-resume.curriculo .linha {
    width: 100%;
    height: 1px;
    background-color: #808080;
    margin-top: 5px;
}

.container-resume.curriculo .base{
    padding: 0 20px 20px 20px;
    color: #808080;
    font-size: 15px;
}

.about h3, .contact h3, .follow h3{
    text-align: start;
    margin: 20px 0;
    font-size: 18px;
    color:#00875F;
}
 .base .contact div {
    line-height: 24px;
  }
  .base .contact div a {
    text-decoration: none;
    position: relative;
    color: inherit;
}

.base .contact div a::after {
    content: "";
    position: absolute;
    background: #95f1d2;
    height: 1px;
    width: 0;
    bottom: -2px;
    left: 0;
    transition-duration: 0.3s;
}

 .base .contact div a:hover {
    color:#b3f3de;
  }
 .base .contact div a:hover span::after {
    width: 100%;
  }
 .base .contact div:hover i {
    color: #00875F;
  }

 .base .contact div i {
    color: #00875F;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    transition-duration: 0.3s;
  }
 .base .contact div span {
    position: relative;
  }
 .base .contact div span::after {
    content: "";
    position: absolute;
    background: #95f1d2;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
  }


 .base .follow .box {
    text-align: center;
    vertical-align: middle;
  }
 .base .follow .box a {
    display: inline-block;
    vertical-align: text-bottom;
  }
 .base .follow .box a:hover i {
    background: #00875F;
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
  }
 .base .follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
  }
 .base .follow .box i {
    display: inline-block;
    font-size: 30px;
    background: #00875F;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: #c5c1c1;
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
  }
 .base .follow .box i::before {
    transition-duration: 0.3s;
  }
 .base .follow .box i.fa::before {
    display: block;
  }

 
/* ------------------------------------------------- experiencia e educação ----------------------------- */
.cv{
    background-color: #202024;
    width: 600px;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.func {
    width: 90%;
    padding: 30px;
    
  }
  .func-first{
    display: flex;
  }
  .func:hover > div {
    transition-duration: 0.5s;
  }
  .func:hover > div:hover h3 i {
    transform: scale(1.25);
  }
  
  .func:hover > div:not(:hover) {
    opacity: 0.5;
  }
  .func h3 {
    transition-duration: 0.3s;
    margin-top: 0;
    color: #95f1d2;
    font-weight: bold
  }
  .func h3 i {
    color: #c5c1c1;
    background: #00875F;
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
  }
  .func .work,
  .func .edu {
    width: 100%;
    background: #484949;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }


  .func .edu {
    padding-right: 0;
}
  .func .work small,
  .func .edu small {
    display: block;
    opacity: 0.7;
  }
  .func .work ul li,
  .func .edu ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
  }

  .func .work ul, 
  .func .edu ul{
    margin-top: 10px;
  }


  .func .work ul li:hover::before,
  .func .edu ul li:hover::before {
    animation: circle 1.2s infinite;
  }
  .func .work ul li:hover span,
  .func .edu ul li:hover span {
    color: #fff;
  }

  @keyframes circle {
    from {
      box-shadow: 0 0 0 0px #00875F;
    }
    to {
      box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }
  }
  .func .work ul li:first-of-type::before,
  .func .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: 1px;
  }
  .func .work ul li:last-of-type,
  .func .edu ul li:last-of-type {
    padding-bottom: 3px;
  }
  .func .work ul li:last-of-type::after,
  .func .edu ul li:last-of-type::after {
    border-radius: 1.5px;
  }
  .func .work ul li::before,
  .func .work ul li::after,
  .func .edu ul li::before,
  .func .edu ul li::after {
    content: "";
    display: block;
    position: absolute;
  }
  .func .work ul li::before,
  .func .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid #fff;
    background: #00875F;
    border-radius: 50%;
    left: 3px;
    z-index: 1;
  }
  .func .work ul li::after,
  .func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: #fff;
    left: 5px;
    top: 0;
  }
  .func .work ul li span,
  .func .edu ul li span {
    transition-duration: 0.3s;
  }
  .func .work {
    width: 48%;
    background: #484949;
    padding: 15px;
    margin: 0 4% 15px 0;
  }
  .func .edu {
    width: 48%;
    background: #484949;
    padding: 15px;
  }

/* --------------------------------------------SKILLSSS ----------------------------- */
.func .skills-prog {
  clear: both;
  background: #484949;
  padding: 15px;
  border-radius: 8px;
}
.func .skills-prog ul {
  margin-left: 15px;
  margin-top: 15px;
  color: #fff;
}
.func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}
.func .skills-prog ul li:hover {
  color: #00875F;
}
.func .skills-prog ul li:hover .skills-bar .bar {
  background: #00875F;
  box-shadow: 0 0 0 1px #00875F;
}
.func .skills-prog ul li span {
  display: block;
  width: 120px;

}
.func .skills-prog ul li .skills-bar {
  background: #fff;
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}
.func .skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background: #95f1d2;
  box-shadow: 0 0 0 #95f1d2;
  border-radius: 5px;
}

/* ---------------------------------------- SKILLS ------------------------------------ */

.func .skills-soft {
  clear: both;
  background: #484949;
  padding: 15px;
  margin: 15px 0 0;
  border-radius: 8px;
}

.func .skills-soft h3 {
  color: #ffffff;
  margin: 0;
  padding-bottom: 10px;
}

.func .skills-soft ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.func .skills-soft ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
}

.func .skills-soft ul li:before {
  content: "•";
  position: absolute;
  left: 15px;
  color: #fff; /* Substitua pelo seu valor de cor desejado */
}

.func .skills-soft ul li:hover {
  color: #00875F;
}

.func .skills-soft ul li span {
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
}


.func .skills-soft li:hover span {
  color: #00875F;
}


/* -------------------------------------------- interests ----------------------------------------- */

.func .interests {
  background: #484949;
  margin: 15px 0 0;
  padding: 15px;
  border-radius: 8px;
}
.func .interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.func .interests-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.func .interests-items div:hover i {
  transform: scale(1.2);
}
.func .interests-items div:hover span {
  color: #95f1d2;
  transition-duration: 0.3s;
}
.func .interests-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #00875F;
  transition-duration: 0.3s;
}
.func .interests-items div span {
  display: block;
}



.download-button {
  text-align: center;
  margin-top: 20px;
}

.download-button button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00875F;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 20px;
  border: none;
  transition: background-color 0.3s;
}

.btn-download:hover {
  background-color: #2c3e50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hidden{
  display: none;
}

.visible {
  display: block
  /* outras propriedades CSS que você deseja aplicar quando o elemento estiver visível */
}

@media (max-width: 614px) {
    .container.desktop {
        display: none;
    }

    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .container.mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        padding: 0 20px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .container.mobile img {
        width: 80px;
        height: 80px;
    }

    .container.mobile h1 {
        font-size: 20px;
    }

    main {
        margin-top: 200px;
        width: 100%;
        max-width: 935px;
        margin-left: auto;
        margin-right: auto;
    }

    .container-resume {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }
}